@import '~ag-grid-community/src/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/webfont/agGridAlpineFont.scss';
@import '~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin';

.ag-theme-alpine {
  @include ag-theme-alpine();
}

.ag-theme-alpine-fusion {
  @include ag-theme-alpine();
}

.ag-theme-alpine-fusion .ag-row-selected {
  background-color: #e6faec;
}

.ag-theme-alpine-fusion .ag-cell {
  align-items: center;
  display: flex;
  line-height: 1.2;
}

.ag-theme-alpine-fusion .ag-cell-expandable {
  align-items: center;
  display: flex;
}

.ag-theme-alpine-fusion .ag-rich-select-list {
  height: 100% !important; 
}

.ag-theme-alpine-fusion .ag-rich-select-row-selected {
  background-color: rgba(222, 237, 238, 1);
  background-color: var(--ag-selected-row-background-color, rgba(222, 237, 238, 1));
}