@import '~ag-grid-community/src/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/webfont/agGridAlpineFont.scss';
@import '~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin';

.ag-theme-alpine {
  @include ag-theme-alpine();
}

.ag-theme-alpine-fusion {
  @include ag-theme-alpine();
}

.ag-theme-alpine-fusion .ag-row-selected {
  background-color: #e6faec;
}

.ag-theme-alpine-fusion .ag-cell {
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.ag-theme-alpine-fusion .ag-cell-expandable {
  display: flex;
  align-items: center;
}
