@use '~@ag-grid-community/styles' as ag;

@include ag.grid-styles((theme: alpine-fusion,
    extend-theme: alpine));

.ag-theme-alpine-fusion {
  font-family: "Equinor", sans-serif;

  .ag-icon,
  .ag-checkbox-input-wrapper,
  .ag-radio-button-input-wrapper,
  .ag-filter-toolpanel-group.ag-has-filter>.ag-group-title-bar .ag-group-title::after {
    font-family: var(--ag-icon-font-family);
  }

  .ag-cell-expandable {
    display: flex;
    align-items: center;
  }

  .ag-rich-select-list {
    height: 100%;
  }

  .ag-rich-select-row-selected {
    background-color: var(--ag-selected-row-background-color, #deedee);
  }
}